<header>
    {{#person}}
    <h1>
        {{firstName}} {{lastName}}
    </h1>

    <p class="badge subtitle">{{_ subtitle}}</p>
    <p class="summary">{{_ summary }}</p>

    <ul class="contact-information">     
        {{#contact.email}}   
        <li class="email">
            <a href="mailto:{{_ .}}">{{_ .}}</a>
        </li>
        {{/contact.email}}

        {{#contact.phone}}
        <li class="phone">
            <a href="tel:{{_ .}}">{{_ .}}</a>
        </li>
        {{/contact.phone}}

        {{#social.linkedIn}}
        <li class="linkedIn">
            <a href="{{_ .}}" target="_blank">{{url (_ .) }}</a>
        </li>
        {{/social.linkedIn}}
    </ul>    
    {{/person}}
</header>

<aside>
    <section class="primary">
        {{#person.avatar}}
        <div class="avatar">
            <img src="{{root}}/{{.}}" />
        </div>
        {{/person.avatar}}

        <section class="skills">
            <h2>{{_ sections.skills}}</h2>

            <ul>
                {{#skills}}
                    <li>
                        <span class="name">{{_ name}}</span>
                        <span class="value">
                            <span class="progress-bar" title="{{_ name}}: {{percentage}}%">
                                <span class="progress" style="width: {{percentage}}%"></span>
                            </span>
                            <span class="screen-reader-text">{{percentage}}</span>
                        </span>
                    </li>
                {{/skills}}
            </ul>
        </section>  

        <section class="languages">
            <h2>{{_ sections.languages }}</h2>

            <ul>
                {{#languages}}
                <li>
                    <div class="inner-wrapper">
                        <div class="language">
                            <div class="info">
                                <span class="name">{{_ name}}</span>
                                <span class="proficiency">{{_ proficiency }}</span>
                            </div>
                        </div>
                    </div>
                </li>            
                {{/languages}}
            </ul>
        </section>      
    </section>

    <section class="interests">
        <h2>{{_ sections.interests}}</h2>

        <ul class="interests">
            {{#interests}}
                <li>{{_ .}}</li>
            {{/interests}}
        </ul>
    </section>    
</aside>

<main>
    <section class="work-experience highlighted">
        <h2>{{_ sections.workExperience}}</h2>

        <ul>
            {{#workExperience}}
            <li>
                <header>
                    <h3 class="title">{{_ title}}</h3>

                    {{#company}}
                    <p class="company">{{_ .}}</p>
                    {{/company}}

                    {{#from}}
                    <p class="date">{{../from}} &mdash; {{../to}}</p>
                    {{/from}}

                    {{#location}}
                    <p class="location">{{_ .}}</p>
                    {{/location}}
                </header>
            </li>
            {{/workExperience}}
        </ul>
    </section>

    <section class="education">
        <h2>{{_ sections.education}}</h2>

        <ul>
            {{#education}}
            <li>
                <header>
                    <h3 class="title">{{_ degree}} in {{_ field}}</h3>

                    {{#institution}}
                    <p class="institution">{{_ .}}</p>
                    {{/institution}}

                    {{#from}}
                    <p class="date">{{../from}} &mdash; {{../to}}</p>
                    {{/from}}

                    {{#location}}
                    <p class="location">{{_ .}}</p>
                    {{/location}}
                </header>
            </li>
            {{/education}}
        </ul>
    </section>

    <section class="accomplishments">
        <h2>{{_ sections.accomplishments}}</h2>

        <ul>
            {{#accomplishments}}
            <li>
                <header>
                    <h3 class="title">{{_ title}}, {{_ location}} {{#date}}({{.}}){{/date}}</h3>
                </header>

                <p class="description">{{_ description }}</p>
            </li>
            {{/accomplishments}}
        </ul>
    </section>
</main>
