<header>
    <h1>
        {{person.firstName}} {{person.lastName}}
    </h1>

    <p class="badge subtitle">{{_ person.subtitle}}</p>
    <p class="summary">{{_ person.summary }}</p>

    <ul class="contact-information">
        <li class="email">{{_ person.contact.email }}</li>
        <li class="phone">{{_ person.contact.phone }}</li>
        <li class="linkedIn">{{url (_ person.social.linkedIn) }}</li>
    </ul>    
</header>

<aside>
    {{#person}}
    <section class="primary">
        {{#avatar}}
        <img src="{{root}}/{{.}}" class="avatar" />
        {{/avatar}}

        <section class="skills">
            <h2>Skills</h2>

            <ul>
                {{#../skills}}
                    <li>
                        <span class="name">{{_ name}}</span>
                        <span class="value">
                            <span class="progress-bar" title="{{_ name}}: {{percentage}}%">
                                <span class="progress" style="width: {{percentage}}%" />
                            </span>
                            <span class="screen-reader-text">{{percentage}}</span>
                        </span>
                    </li>
                {{/../skills}}
            </ul>
        </section>  

        <section class="languages">
            <h2>Languages</h2>

            <ul>
                {{#../languages}}
                <li>
                    <div class="language">
                        <div class="info">
                            <span class="name">{{_ name}}</span>
                            <span class="proficiency">{{_ proficiency }}</span>
                        </div>
                    </div>
                </li>            
                {{/../languages}}
            </ul>
        </section>      
    </section>
    {{/person}}

    <section class="interests">
        <h2>Interests</h2>

        <ul class="interests">
            {{#interests}}
                <li>{{_ .}}</li>
            {{/interests}}
        </ul>
    </section>    
</aside>

<main>
    <section class="work-experience highlighted">
        <h2>{{_ sections.workExperience}}</h2>

        <ul>
            {{#workExperience}}
            <li>
                <header>
                    <h3 class="title">{{_ title}}</h3>

                    {{#company}}
                    <p class="company">{{_ .}}</p>
                    {{/company}}

                    {{#from}}
                    <p class="date">{{../from}} &mdash; {{../to}}</p>
                    {{/from}}

                    {{#location}}
                    <p class="location">{{_ .}}</p>
                    {{/location}}
                </header>
            </li>
            {{/workExperience}}
        </ul>
    </section>

    <section class="education">
        <h2>{{_ sections.education}}</h2>

        <ul>
            {{#education}}
            <li>
                <header>
                    <h3 class="title">{{_ degree}} in {{_ field}}</h3>

                    {{#institution}}
                    <p class="institution">{{_ .}}</p>
                    {{/institution}}

                    {{#from}}
                    <p class="date">{{../from}} &mdash; {{../to}}</p>
                    {{/from}}

                    {{#location}}
                    <p class="location">{{_ .}}</p>
                    {{/location}}
                </header>
            </li>
            {{/education}}
        </ul>
    </section>

    <section class="accomplishments">
        <h2>{{_ sections.accomplishments}}</h2>

        <ul>
            {{#accomplishments}}
            <li>
                <header>
                    <h3 class="title">{{_ title}}</h3>
                </header>

                <p class="description">{{_ description }}</p>
            </li>
            {{/accomplishments}}
        </ul>
    </section>
</main>
