<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style/master.css" />        
    </head>

    <body>
        <header>
            {{#person}}
                <h1>{{firstName}} {{lastName}}</h1>                
                <p class="subtitle">{{_ subtitle}}</p>
            {{/person}}
        </header>        

        <main>
            <p class="summary">{{_ person.summary}}</p>            
        </main>

        <aside>
            {{#person}}
            <ul>
                {{#contact.email}}
                    <li>
                        Email:
                        {{_ .}}
                    </li>
                {{/contact.email}}

                {{#contact.phone}}
                    <li>
                        Phone:
                        {{_ .}}
                    </li>
                {{/contact.phone}}

                {{#social.linkedIn}}
                    <li>
                        LinkedIn:
                        {{_ .}}
                    </li>
                {{/social.linkedIn}}

                {{#social.gitHub}}
                    <li>
                        GitHub: 
                        {{_ .}}
                    </li>
                {{/social.gitHub}}
            </ul>
            {{/person}}            
        </aside>
    </body>
</html>
