<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style/master.css" />        
    </head>

    <body>
        <header>
            {{#person}}
                <h1>{{firstName}} {{lastName}}</h1>                
                <p class="subtitle">{{_ subtitle}}</p>
            {{/person}}
        </header>        

        <main>
            <p class="summary">{{_ person.summary}}</p>       

            <section class="timeline experience">
                <h2>Work Experience</h2>

                <ul>
                    {{#workExperience}}
                    <li>
                        <header>
                            <p class="title">{{_ title}}</p>
                            <p class="company">{{_ company}}</p>                        

                            <p class="date">{{from}} &mdash; {{to}}</p>
                            <p class="location">{{_ location}}</p>
                        </header>                        
                    </li>
                    {{/workExperience}}
                </ul>
            </section>

            <section class="timeline education">
                <h2>Education</h2>

                <ul>
                    {{#education}}
                    <li>
                        <header>
                            <p class="degree">{{_ degree}}</p>
                            <p class="field">{{_ field}}</p>

                            <p class="date">{{from}} &mdash; {{to}}</p>
                            <p class="location">{{_ location}}</p>
                        </header>                        
                    </li>
                    {{/education}}
                </ul>
            </section>
        </main>

        <aside>
            {{#person}}
                {{#avatar}}
                    <img src="{{.}}" class="avatar" />
                {{/avatar}}

                <ul>
                    {{#contact.email}}
                        <li>
                            Email:
                            {{_ .}}
                        </li>
                    {{/contact.email}}

                    {{#contact.phone}}
                        <li>
                            Phone:
                            {{_ .}}
                        </li>
                    {{/contact.phone}}

                    {{#social.linkedIn}}
                        <li>
                            LinkedIn:
                            {{_ .}}
                        </li>
                    {{/social.linkedIn}}

                    {{#social.gitHub}}
                        <li>
                            GitHub: 
                            {{_ .}}
                        </li>
                    {{/social.gitHub}}
                </ul>
                {{/person}}            
        </aside>
    </body>
</html>
