<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style/master.css" />        
    </head>

    <body>
        <header>
            {{#person}}
                <h1>{{firstName}} {{lastName}}</h1>                
                <p class="subtitle">{{_ subtitle}}</p>
            {{/person}}
        </header>        

        <main>
            <p class="summary">{{_ person.summary}}</p>            
        </main>

        <aside>            
            <footer>
                {{#person}}
                    {{#contact.email}}
                        Email: {{_ .}}
                    {{/contact.email}}

                    {{#contact.phone}}
                        Phone: {{_ .}}
                    {{/contact.phone}}

                    {{#social.linkedIn}}
                        LinkedIn: {{_ .}}
                    {{/social.linkedIn}}

                    {{#social.gitHub}}
                        GitHub: {{_ .}}
                    {{/social.gitHub}}
                {{/person}}
            </footer>
        </aside>
    </body>
</html>
